[submodule "2020Fall-Web/Web_ICP5/2020Fall-Web/Web_ICP5/source/ToDo_Timer"]
	path = 2020Fall-Web/Web_ICP5/2020Fall-Web/Web_ICP5/source/ToDo_Timer
	url = https://github.com/rupadoppalapudi/WebMobile-2020Fall.git
