.headings{
    text-align: center;
    color: cadetblue;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

.score
{
    border: 3px solid white;
    width: 200px;
    text-align: center;
    margin: 20px auto;
    color: midnightblue;
    padding: 5px 5px;
    font-family: Copperplate ;
    position: relative;
}

.players{
    background: indianred;
    color: white;
    font-size: initial;
    padding: 5px 5px;
}

.result{
    color: cadetblue;
    text-align: center;
    font-size: 30px;
    font-family: Copperplate ;
}

.result img{
    height: 125px; width: 175px;
}

.options{
    margin: 50px 0px;
    text-align: center;
}

.option{
    display: inline-block;
    margin: 0px 60px;
    padding: 0px;
}

.options>.option > img {
    height: 200px; width: 200px;
}
.option:hover{
    cursor: pointer;
    background: firebrick;
}

